* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    padding: 30px;
    background-color: green;
    border-bottom: 4px solid darkgreen;
    text-align: center;
}

header h1 {
    text-transform: uppercase;
    text-decoration: overline underline;
    font-size: 40px;
}

#game-wrapper::after {
    content: "";
    clear: both;
    display: table;
}

aside {
    float: left;
    height: 80vh;
    width: 20%;
    background-color: red;
    padding: 16px;
    border-right: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#difficulty {
    text-transform: uppercase;
}

#game-field {
    float:left;
    width: 80%;
    background-color: #99ff33;
}

#game-field ul {
    list-style-type: none;
}

#game-field li {
    float: left;
    width: 10%;
    border: 2px solid black;
    padding: 16px;
    text-align: center;
    font-size: 35px;
}

#sidebar-stats {
    text-align: center;
    margin: 16px;
    background-color: darkgrey;
    border: 4px solid grey;
}

.fa-bomb {
    color: red;
}

.fa-exclamation {
    color: yellow;
}

.fa-fan {
    color: magenta;
}
