* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    height: 115px;
    padding: 30px;
    background-image: linear-gradient(to bottom right, azure , lightgreen);
    border-bottom: 4px solid darkgreen;
    text-align: center;
}

header h1 {
    text-transform: uppercase;
    text-decoration: overline underline;
    font-size: 40px;
}

#game-wrapper {
    background-color: azure;
}

#game-wrapper::after {
    content: "";
    clear: both;
    display: table;
}

aside {
    float: left;
    height: calc(100vh - 115px);
    width: 20%;
    background-color: red;
    padding: 16px;
    border-right: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Press Start 2P', cursive;
    border: 4px solid darkred;
}

hr {
    margin-top: 16px;
    margin-bottom: 16px;
}

#user-name {
    color: orange;
    text-decoration: underline;
    text-align: center;
    font-size: 24px;
}

#sidebar-stats {
    padding: 16px;
    text-align: center;
    margin: 16px;
    background-color: black;
    border: 4px inset grey;
    color: #99ff33;
}

#sidebar-stats h1 {
    margin-bottom: 16px;
}

aside p {
    margin-bottom: 16px;
}

#difficulty {
    text-transform: uppercase;
}

#game-field {
    float:left;
    width: 80%;
    background-color: #99ff33;
}

#game-field ul {
    list-style-type: none;
}

#game-field li {
    float: left;
    width: 10%;
    min-width: 110px;
    border: 2px solid black;
    padding: 16px;
    text-align: center;
    font-size: 35px;
}

.fa-bomb {
    color: red;
}

.fa-exclamation {
    color: yellow;
}

.fa-fan {
    color: magenta;
}
